name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Get dependencies
        run: flutter pub get

      - name: Get version from pubspec.yaml
        id: version
        run: |
          VERSION=$(grep '^version:' pubspec.yaml | cut -d ' ' -f2)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Build APKs (split per ABI)
        run: flutter build apk --release --split-per-abi

      - name: Rename APKs with version & architecture
        run: |
          mkdir release-apks
          mv build/app/outputs/flutter-apk/app-arm64-v8a-release.apk \
             release-apks/Readora-v${{ steps.version.outputs.version }}-arm64-v8a.apk

          mv build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk \
             release-apks/Readora-v${{ steps.version.outputs.version }}-armeabi-v7a.apk

          mv build/app/outputs/flutter-apk/app-x86_64-release.apk \
             release-apks/Readora-v${{ steps.version.outputs.version }}-x86_64.apk

      - name: Build App Bundle
        run: flutter build appbundle --release

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: apks
          path: release-apks/*.apk

      - name: Upload AAB
        uses: actions/upload-artifact@v4
        with:
          name: android-aab
          path: build/app/outputs/bundle/release/app-release.aab

  release:
    needs: build-android
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            apks/*.apk
            android-aab/app-release.aab
          generate_release_notes: true
          body_path: RELEASE_NOTES.md
